<div class="customers-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="customers-index-single">
          <h1 class="text-center text-gray title">お客様リスト</h1>
            <% @customer.each do |customer| %>
              <p><%= link_to customer.name_kana, customer_path(customer.id) %></p>
            <% end %>
            <%= link_to "新規登録", new_customer_path %>
        </div>
      </div>
    </div>
  </div>
</div>
