<div class="reservations-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="reservations-index-single">
          <h1 class="text-center text-gray title">カルテ一覧</h1>
          <h2 class="text-center text-gray subtitle"><%= @customer.name_kana %>様</h2>

          <% @reservations.each do |reservation| %>
            <% if !reservation.treatment_record.nil? %>
             <p class="text-gray text-center"><%= link_to reservation.reservation_date, treatment_record_path(id: reservation.treatment_record.id) %></p>
            <% else %>
             <p class="text-gray text-center"><%= link_to reservation.reservation_date, treatment_record_empty_page_path(customer_id: @customer.id, reservation_id: reservation.id) %></p>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
